<div class="login-sef">
    <div class="container">

        <div class="row login-box">

            <!-- LEFT PANEL -->
            <div class="col-lg-8 col-md-12 bg-img align-self-center order2mobile">

                <!-- Social Icons -->
                <div class="social-links">
                    <a href="https://www.youtube.com/channel/UCqf3dsXj_e9Xs-t00hxFOHw" class="youtube"><img src="/Assets/NewLoginPage/img/youtube.svg" width="18" height="18" alt="youtube"></a>
                    <a href="https://www.linkedin.com/company/81501910/admin/feed/posts/" class="linkedin"><img src="/Assets/NewLoginPage/img/linkedin.svg" width="18" height="18" alt="youtube"></a>
                    <a href="https://www.instagram.com/2growhr/" class="instagram"><img src="/Assets/NewLoginPage/img/instagram.svg" width="18" height="18" alt="instagram"></a>
                </div>

                <!-- Arrows -->
                
            <button
                class="slider-arrow left-arrow"
                (click)="prevSlide()">
                &#10094;
            </button>

            <button
                class="slider-arrow right-arrow"
                (click)="nextSlide()">
                &#10095;
            </button>

            <!-- Dynamic Slider Content -->
            <div
                class="left-content">

                <h3 class="site-title">
                    www.
                    <span [ngClass]="slides[currentIndex].websiteClass">
                        {{ slides[currentIndex].website }}
                    </span>
                    {{ slides[currentIndex].domain }}
                </h3>

                <div class="banner-placeholder">

                    <!-- OLD IMAGE -->

                    <img
                        *ngIf="oldImageAnimation"
                        [src]="slides[previousIndex].image"
                        class="banner-img"
                        [ngClass]="oldImageAnimation">

                    <!-- NEW IMAGE -->

                    <img
                        [src]="slides[currentIndex].image"
                        class="banner-img"
                        [ngClass]="newImageAnimation">

                </div>

                <h2 class="product-title">
                    {{ slides[currentIndex].title }}
                </h2>

                <p class="product-desc">
                    {{ slides[currentIndex].desc }}
                </p>

                <button
                    class="learn-btn"
                    [style.background]="slides[currentIndex].buttonColor">
                    Learn More
                </button>

            </div>

            <!-- Dots -->
            <div class="slider-dots">
                <span
                    *ngFor="let slide of slides; let i = index"
                    [class.active]="i === currentIndex">
                </span>
            </div>

            </div>

            <!-- RIGHT PANEL -->
            <div class="col-lg-4 col-md-12 bg-color-16 align-self-center">

                <div class="login-content">

                    <!-- LOGO PLACEHOLDER -->
                    <div class="logo-placeholder">
                        <img class="mb-2" src="/Assets/NewLoginPage/img/2growhr-logo.svg" width="148" height="39" alt="2GrowHR">
                    </div>

                    <h4 class="signin-title">
                        Sign in to access your account
                    </h4>

                    <div class="form-group form-box mb-3">

                <input
                    type="text"
                    class="form-control input-text"
                    placeholder="Username"
                    [(ngModel)]="username">

                <i class="bi bi-person input-icon"></i>

            </div>

                <div class="form-group form-box mb-4">

                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control input-text"
                        placeholder="Password"
                        [(ngModel)]="password">

                    <i class="bi bi-lock input-icon"></i>

                    <img
                            [src]="showPassword
                                ? '/Assets/NewLoginPage/img/eye-crossed.svg'
                                : '/Assets/NewLoginPage/img/eye.svg'"
                            class="password-icon"
                            alt="password"
                            (click)="showPassword = !showPassword">

                </div>

                    <a href="#" class="forgot-link">
                        Forgot Password or Username?
                    </a>

                    <button
                        type="button"
                        class="login-btn"
                        (click)="login()">
                        LOGIN
                    </button>

                    <div class="trusted-text">
                        "TRUSTED BY MORE THAN 200000+ USERS GLOBALLY"
                    </div>

                    <div class="powered-text">
                        POWERED BY
                        <span>SANeFORCE</span>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>