<div class="db-header">

    <h1 class="db-title">
       {{ title }}
    </h1>

    <div class="db-actions">

    
        <button class="icon-btn" (click)="goToWallActivity()">
            <i class="ti ti-edit"></i>
        </button>

        <button class="icon-btn">
            <i class="ti ti-help-circle"></i>
        </button>

        <button class="icon-btn">
            <i class="ti ti-star"></i>
        </button>

        <button class="icon-btn">
            <i class="ti ti-bell"></i>
        </button>

        <button class="icon-btn">
            <i class="ti ti-layout-grid"></i>
        </button>

    </div>

</div>