
<div class="page-content">
    <div class="container-fluid">
        <ul class="nav nav-tabs payrun-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="payrun-process" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Payrun Process</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="payslip-auditlog" routerLinkActive="active">Processed Payslip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="processed-payslip" routerLinkActive="active">PaySlip Auditlog</a>
            </li>
        
        </ul>

        <router-outlet></router-outlet>
    </div>
</div>