<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Add Employee</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Employee ID</label>
                            <input type="text" class="form-control" formControlName="employeeId"> 
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Employee Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Division</label>
                            <select class="form-select" formControlName="division">
                                <option value="">-- Select Division --</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-teal" [disabled]="form.invalid">Save</button>
                        <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>