<div class="page-content">

    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    
    
        <div class="card">

            <!-- <div class="py-1" style="background: #F0F0F8;">
            </div> -->

            <div class="card-body">
                
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div class="table-responsive">
                            <table class="table employee-table" appDatatable [rowsPerPage]="10">
                                <thead>
                                    <tr>
                                        <th>Employee ID<i class="fa fa-sort"></i></th>
                                        <th>Employee Name<i class="fa fa-sort"></i></th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employees">
                                        <td>{{ emp.id }}</td>
                                        <td>{{ emp.name }}</td>
                                        <td class="align-middle"><img src="/Assests/NewDesign/assets/images/newimg/onbo_user.svg" alt="">Activate Profile</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
    
</div>