
<div class="page-content">
    <div class="container-fluid">
        <ul class="nav nav-tabs employee-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="directory" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employee Directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="resigned-deactivated" routerLinkActive="active">Resigned/Deactivated List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="onboarding" routerLinkActive="active">OnBoarding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="resignation-status" routerLinkActive="active">Resignation Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="organization-tree" routerLinkActive="active">Organization Tree</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="exit-process" routerLinkActive="active">Exit Process</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="full-final-settlement" routerLinkActive="active">Full &amp; Final Settlement</a>
            </li>
        </ul>

        <router-outlet></router-outlet>
    </div>
</div>